@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --indigoDye: #1B4965;
    --powderBlue: #BEE9E8;
    --maximunBlue:#62B6CB;
    --columbiaBlue:#CAE9FF;
    --carolinaBlue:#5FA8D3;

}

.backgroundNavBar{
    background-color: var(--indigoDye);
}

.buttonsNavBar:hover{
    background-color: var(--carolinaBlue);
}